@charset "utf-8";
* {
	margin: 0;
	padding: 0;
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	color: #FFF;
	font-size: 1em;
	font-family: "Segoe UI", sans-serif;
	line-height: 135%;
	background-color: #F0F0F0;
}

header, footer {
	width: 100%;
	background-color: #a3a3a3;
	float: left;
}	

header {
	padding-left: 1%;
	padding-right: 1% ;
	position: fixed;
	z-index: 228;
	background-color: rgba(214, 214, 214, .4);
}

@media (max-width: 500px) {
	header {
		visibility: hidden;
	}
	#search_button {
		font-size: 16px;
	}
}
button, .headerButton {
	/*float:right;*/
	margin-left: 10px;
	padding: 0.5%;
	color: #f7f7f7;
	/*-webkit-border-radius:4px;*/
	/*moz-border-radius:4px;*/
	/*border-radius:4px;*/
	cursor: pointer;
	font-size: 25px;
	background-color: rgba(255, 140, 0, .6);
	text-decoration: none;
	background-size: cover;
	border:0;
	color: #f7f7f7;
}

button:hover, .headerButton:hover {
	background-color: rgba(255, 140, 0, .25);
}

#mainsection {
	width: 100%;
	padding: 2% 0;
	float: left;
	height: 100vh;
	max-width: 100%;
	box-sizing: border-box;
	background: url('../img/firstBG.jpg') center no-repeat;
	background-size: cover;
}

.auth {
	font-size: 20px;
	color: #f7f7f7;
	padding: 1vh;
	position: absolute;
	top: 60px;
	right: 3vh;
	border: 2px solid rgba(153, 153, 255, .7);
	cursor: pointer;
}

.auth:hover {
	background-color: rgba(153, 153, 255, .5);
}

.button{
	width: 50%;
	height: 50px;
	border: solid 1px #da7c0c;
	background-color: #FFA500;
	color: #f7f7f7;
	-webkit-border-radius:4px;
	moz-border-radius:4px;
	border-radius: 30px;
	float: right;
	cursor: pointer;
	text-align: center;
	font-size: 24px;
	padding-top: 10px ;
	padding-bottom: 10px;
	box-sizing: border-box;
}

#search_button {
	width: 50%;
	height: 50px;
	display: inline-block;
	margin-top: 40vh;
	margin-left: 25%;
	border: solid 1px #da7c0c;
	background-color: #FFA500;
	color: #f7f7f7;
	-webkit-border-radius:4px;
	moz-border-radius:4px;
	border-radius: 30px;
}

#search_button:hover {
	background-color: rgba(255, 140, 0, .25);
}

#mainsection a:hover {
	background: rgba(255, 140, 0, .6);
	/*background: -webkit-gradient(linear, left top, leftbottom, from(#faa51a), to(#f47a20));*/
	background: -moz-linear-gradient(top,  #faa51a, #f47a20);
	/*text-transform: uppercase;*/
}

.title {
	width: 100%;
	padding: 2% 0;
	float: left;
	max-width: 100%;
	box-sizing: border-box;
	background-color: rgb(200, 200, 202);
	background-size: cover;
}

.titles {
	margin: auto;
	padding: auto;
	text-align: center;
	font-size: 24px;
	color: #f7f7f7;
}

#firstsection {
	width: 100%;
	padding: 2% 0;
	/*margin: 15px 0;*/
	float: left;
	height: 90vh;
	box-sizing: border-box;
	background:  #eff2ff;
	background-size: cover;
}


#menu {
	width: 25%;
    float: left;
	margin-left: 10%;
    background-color: #9999FF;
    border-radius: 5px;
   /* border: 5px solid #FFFF00;*/
    box-sizing: border-box;
    padding: 1%;
	height: 85vh;
}

.linktosearch {
	border-radius: 5px;
	background: rgba(247, 141, 29, 0.58);
	font-size: 16px;
	color: #f7f7f7;
	cursor: pointer;
}

#search_line {
    width: 30%;
    margin-left: 47%;
    background-color: #9999FF;
    border-radius: 5px;
  /*  border: 5px solid #FFFF00;*/
    box-sizing: border-box;
    padding: 1%;
}

#result_search {
	font-family: Franklin Gothic Book, sans-serif;
	font-size: 24px;	
	width: 30%;
    margin-left: 47%;
	margin-top: 1vh;
    background-color: rgba(181, 205, 230, .6);
    border-radius: 5px;
    /*border: 5px solid #FFFF00;*/
    box-sizing: border-box;
    padding: 1%;
	height: 90%;
    /*visibility: hidden;*/
}

.input {
    font-size: 24px;
    line-height: 1;
    width: 98%;
    padding: 1%;
    margin: auto;
    outline: none;
    border: 1px solid #d9d9d9;
}

.input:hover {
	background: rgba(208, 19, 0, 0.15);	
}

.input:focus {
	border: 1px solid #CCFF99;
	color: #FFF;
	background: #d9d9d9;
	-webkit-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
	-moz-box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
	box-shadow: 0 0 3px 0 rgba(245,130,32,0.75);
}

#secondsection {
	width: 100%;
	/*padding: 2% 0;*/
	/*margin: 15px 0;*/
	float: left;
	/*height: 100vh;*/
	box-sizing: border-box;
	background: #eff2ff;
	background-size: cover;
}

#feedBackText {
	color: #f7f7f7;
	/*background-color: rgba(163, 163, 163, 0.7);*/
	width: 30%;
	display: inline-block;
	/*margin-top: 40px;*/
	position: absolute;
	margin-top: 100px;
	margin-left: 5%;
	font-size: 26px;
	padding: 5px;
	text-align: center;
	/*float: left;*/

}

#feedBack {
	width: 300px;
	background-color: rgba(163, 163, 163, 0.7);
	/*margin: 0 auto;*/
	padding: 10px;
	margin-top: 50px;
	margin-bottom: 15px;
	/*margin-right: -10%;*/
	display: inline-block;
	margin-left: 50%;
	/*position: absolute;*/
	/*float: right;*/
}

.feedBack {
	background-color: rgba(255, 255, 255, .33);
	width: 100%;
	height: 30px;
	border-radius: 5px;
	margin-top: 10px;
}

.feedBack:focus {
	background-color: #f7f7f7;
}

#message {
	resize: none;
	height: 70px;
}

#send {
	width: 100px;
	height: 30px;
	padding: 2px;
	display: inline-block;
	font-size: 14px;
	background-color: rgba(250, 165, 26, .47);
	border: 1px outset #faa51a;
	margin-top: 10px;
	border-radius: 10px;
}

#send:hover {
	background-color: #faa51a;
	border: 1px inset #FFA500;
}
#thirdsection {
	width: 100%;
	padding: 2% 0;
	/*margin: 15px 0;*/
	float: left;
	/*height: 100vh;*/
	max-width: 100%;
	box-sizing: border-box;
	background-color: #eff2ff;
	background-size: cover;
	text-align: center;
}

.our_people {
	display: inline-block;
	/*background-color: rgba(243, 243, 243, 0.5);*/
	background-size: cover;
	border-radius: 5px;
	margin-left: 5%;
}

.avatar {
	margin: 5px;
	border-radius:50%;
	background-size: cover;
	display: inline-block;
}

.about {
	height: 145px;
	display: inline-block;
	border-radius: 10px;
	margin-left: 5px;
}

@media (min-width: 970px) {
	.our_people {
		width: 200px;
		height: 240px;
	}
	.avatar {
		width: 200px;
		height: 200px;
	}
	.about {
		width: 200px;
		height: 40px;
	}
}

@media (max-width: 969px) and (min-width: 660px) {
	.our_people {
		width: 200px;
		height: 240px;
	}
	.avatar {
		width: 180px;
		height: 180px;
	}
	.about {
		width: 180px;
		height: 40px;
		font-size: 14px;
	}
}

@media (max-width: 659px) {
	.our_people {
		width: 200px;
		height: 240px;
	}

	.avatar {
		width: 200px;
		height: 200px;
	}

	.about {
		width: 200px;
		height: 40px;
	}
}

.ful_names {
	width: 80%;
	margin-left: 10%;
	text-align: center;
	border-radius: 5px;
	float: left;
	background-size: cover;
}

hr {
	width: 200px;
	border-color: #a3a3a3;
}

.role {
	width: 90%;
	margin-left: 5%;
	float: left;
	/*background-color: rgba(99, 186, 234, 0.43);*/
	border-radius: 5px;
	background-size: cover;
	margin-bottom: 1%;
	text-align: center;
}

/* Стили для футера */

footer {
	padding: 1%;
	border-top: 2px solid silver;
}

footer img {width: 10%; float: left; margin-right: 10px;}

#page-wrap:after {
	content: "";
	display: block;
}

footer, #page-wrap:after {height: 10px;}

#page-wrap {
  min-height: 90%;
}
